@model About
<style>
    a {
        margin-bottom: 10px;
    }
    td{
        transition: .3s ease;
    }
    td:hover{
        color: red;
    }
</style>


@if (Model == null)
{
    <div class="container">
        <a class="btn btn-success mt-5 mb-4 " style=" width: 10%;" href="/dashboard/about/create">Create</a>
    </div>
}

@if (Model != null)
{
    <div class="content">
        <div class="container">
            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>

                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">PrimaryText</th>
                            <th scope="col">PhotoURL</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" class="font-weight-bold">
                            <td>
                                @Model.Id
                            </td>
                            <td>@Model.Title</td>
                            <td>
                                @Model.Description
                            </td>
                            <td>
                                @Model.PrimaryText
                            </td>
                            <td>
                                <div>
                                    <img src="~/@Model.PhotoURL" width="200" height="150" />
                                </div>
                            </td>
                            <td>
                                <a style="color:#fff;" class="btn btn-warning" href="/dashboard/about/edit/@Model.Id">Edit</a>
                                <a about-value="@Model.Id" style="color:#fff;" class=" btnSave btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
}
else
{
    <div class="container">
        <div class="alert text-center alert-info">Bazada melumat yoxdur</div>
    </div>
}


@section Scripts {
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    $(".btnSave").click(function(e) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                let aboutId = e.currentTarget.attributes[0].value
                $.ajax({
                    method: "POST",
                    url: "about/delete/",
                    data: {
                        id: aboutId
                    }
                })
                Swal.fire({
                    title: 'Deleted',
                    text: "About is delete!",
                    icon: 'success',

                }).then((result) => {
                    window.location = "about"
                })

            }
        })
    })
</script>
}



