@model IEnumerable<Packet>

@{
    ViewData["Title"] = "Prices Page";
}


<!-- Page Header Start -->
<div class="page-header container-fluid bg-primary d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-3 text-uppercase mb-3">Prices</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
        <h6 class="m-0 px-3">/</h6>
        <h6 class="text-uppercase m-0">Prices</h6>
    </div>
</div>
<!-- Page Header Start -->
<!-- Pricing Plan Start -->
@if (Model != null)
{
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Competitive Pricing</h1>
            <div class="row">
                @{
                    int numbers = 0;
                    foreach (var packet in Model)
                    {


                        <div class="col-lg-4 mb-2">
                            <div class=" @(numbers % 2 == 0 ? "bg-light  mt-lg-5" : "bg-dark ") rounded text-center pt-5  mb-4">
                                <h2 class="text-uppercase @(numbers % 2 == 0 ? " " : "text-white")">@packet.PacketCategory.Name</h2>
                                <h6 class="text-uppercase @(numbers % 2 == 0 ? "text-secondary" : "text-body") mb-5">The Best Choice</h6>
                                <div class="text-center @(numbers % 2 == 0 ? "bg-dark" : "bg-primary") rounded-circle p-4 mb-2">
                                    <h1 class="display-4 @(numbers % 2 == 0 ? "text-white" : " ") mb-0">
                                        <small class="align-top"
                                       style="font-size: 22px; line-height: 45px;">$</small>@packet.Price<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                            /
                                            Mo
                                        </small>
                                    </h1>
                                </div>
                                <div class="text-center @(numbers % 2 == 0 ? " " : "text-secondary") py-4">
                                    <p>@packet.Language</p>
                                    <p>@packet.Description</p>
                                    <p>@packet.Description_1</p>
                                    <p>@packet.Description_2</p>
                                    <a href="" class="btn @(numbers % 2 == 0 ? "btn-dark" : "btn-primary") text-uppercase py-2 px-4 my-3">Order Now</a>
                                </div>
                            </div>
                        </div>
                        numbers++;

                    }

                }


            </div>
        </div>
    </div>
}
else
{
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <h3 class="alert alert-danger font-monospace text-center">Bazada melumat yoxdur</h3>
    </div>
}
<!-- Pricing Plan End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-up"></i></a>


